.menuBurger {
  display: inline-block;
  height: 3px;
  position: relative;
  width: 30px;
  background-color: #000;
  &,
  &:before,
  &:after {
    transition: all 0.3s 0s cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:before {
    background-color: #000;
    content: '';
    height: 3px;
    position: absolute;
    top: -8px;
    width: 30px;
  }
  &:after {
    background-color: #000;
    content: '';
    height: 3px;
    position: absolute;
    top: 8px;
    width: 50%;
  }
  &.opened {
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
    &:before,
    &:after {
      background-color: #f6f6f6;
    }
    &:before {
      top: -9px;
      transform: translateY(9px) rotate(45deg);
    }
    &:after {
      top: 9px;
      transform: translateY(-9px) rotate(-45deg);
      width: 100%;
    }
  }
}

.menuTrigger {
  &:hover {
    cursor: pointer;
    .menuLabel {
      color: #6f6f6f;
    }
    .menuBurger,
    .menuBurger:before,
    .menuBurger:after {
      background-color: #6f6f6f;
    }
    .menuBurger:after {
      width: 100%;
    }
    .menuBurger span:nth-child(3) {
      width: 100%;
    }
  }
  &.opened {
    z-index: 4;
    &:hover .menuBurger {
      background-color: transparent;
      &:before {
        background-color: #f6f6f6;
        transform: translateY(9px) rotate(0);
      }
      &:after {
        background-color: #f6f6f6;
        transform: translateY(-9px) rotate(0);
      }
    }
    .menuLabel {
      color: #f6f6f6;
    }
  }
}

.navLink {
  color: #000000;
  font-size: 22px;
  margin-left: 30px;
  text-decoration: none;
  .icon {
    padding-left: 8px;
    vertical-align: middle;
  }
  span {
    position: relative;
    &:after {
      background-color: #000000;
      bottom: 0;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      top: auto;
      transition: all 0.6s 0s cubic-bezier(0.19, 1, 0.22, 1);
      width: 0;
    }
  }
  &:hover span:after,
  &.active span:after {
    width: 100%;
  }
}
