.overlay {
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: all 0.5s 0s cubic-bezier(1, 0, 0, 1);
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  visibility: hidden;
  &.opened {
    transition: all 0.5s 0s cubic-bezier(1, 0, 0, 1);
    transform: scale(1) translate3d(0, 0, 0);
    visibility: visible;
    z-index: 3;
  }
}

.nav {
  font-size: 62px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      color: #000;
      line-height: 82px;

      a {
      }
    }
  }
}
