.overlay {
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: all 0.5s 0s cubic-bezier(1, 0, 0, 1);
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  visibility: hidden;
  &.opened {
    transition: all 0.5s 0s cubic-bezier(1, 0, 0, 1);
    transform: scale(1) translate3d(0, 0, 0);
    visibility: visible;
    z-index: 3;
  }
}

.nav {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
}

.navLink {
  color: #f6f6f6;
  position: relative;
  text-decoration: none;
  &:after {
    background-color: #f6f6f6;
    bottom: 0;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    top: auto;
    transition: all 0.6s 0s cubic-bezier(0.19, 1, 0.22, 1);
    width: 0;
  }
  &:hover:after,
  &.active:after {
    width: 100%;
  }
}
