{
  "extends": ["airbnb", "plugin:jest/recommended"],
  "settings": {
    "import/resolver": {
      "babel-module": {},
      "node": {
        "paths": ["visitor-app/src"]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/destructuring-assignment": [0, "always"],
    "import/prefer-default-export": [0, "always"],
    "no-use-before-define": [0]
  }
}
